---
import PageLayout from "../../../layouts/PageLayout.astro";
---

<PageLayout title="AutoCAD Fundamentals" navMargin={0}>
    <div class="p-5 mb-3 bg-secondary">
        <a href="/" class="text-white">← Back</a>
        <div class="container justify-content-center">
            <div class="text-center">
                <h1 class="display-3 text-white">AutoCAD Fundamentals</h1>
                <img src="/assets/img/autocad/autocad-logo.png" alt="HTML Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Part 1 - Cartesian and Polar Coordinates</h3>
        <p><a href="activities/1-1-cartesian-polar">1.1 Cartesian and Polar Coordinates</a></p>
        <p><a href="activities/1-2-practice-a-b-c">1.2 Practice Drawings A, B, C</a></p>
     
    </div>
</PageLayout>



<style>
    .bg-blue {
        background-color: #3776AB;
    }
</style>