@import "bootstrap/dist/css/bootstrap.css";

@import "prismjs/themes/prism-okaidia.css";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "prismjs/plugins/match-braces/prism-match-braces.css";

a {
  color: rgb(10, 100, 80);
  font-weight: bold;
}

a:hover {
  color: rgb(0, 90, 70);
}

a:not(.underline) {
  text-decoration: none;
}
